<h1>ТЕСТ_создание электронного личного дела_форма для заполнения кндидатом</h1>
<h2>Мы будем рады видеть тебя в команде ЗАО "ЕКТ групп"</h2>
<h3>Номер кандидата: `uniq_id`</h3>

<p>-----</p>

<p>Форма</p>
<p>Форма</p>
<p>Форма</p>
<p>Форма</p>
<p>Форма</p>
<p>Форма</p>
<p>Форма</p>
<p>Форма</p>
<p>Форма</p>
<p>Форма</p>
<p>Форма</p>
<p>Форма</p>
<p>Форма</p>
<p>Форма</p>
<p>Форма</p>
<p>Форма</p>
<p>Форма</p>
<p>Форма</p>

<p>-----</p>

<%= Time.now %>
