<footer class="page-footer text-muted" style="background-color: #F6FFFF">
  <div class="footer-copyright text-center py-3">
    © Copyright <%= Date.today.year %><br>
    <p class="card-text">
      <small class="text-muted">
        <a href="https://ekt.by">«EKT Company», LLS</a>
      </small>
    </p>
  </div>
</footer>
