<div class="card">
  <div class="card-header h5">
    ОПЫТ РАБОТЫ
  </div>
  <div class="card-body">

    <h5>Начиная с <b>ПОСЛЕДНЕГО</b> места работы, укажите реальный профессиональный опыт (в том числе, без записи в трудовой книжке).</h5>

    <div class="form-group col-md-2">
      <button class="btn btn-success btn-sm btn-block" onclick="return add_experience_table_row()">Добавить</button>
    </div>

    <div id ="experience_fields">
    </div>
  </div>
  <div class="form-group col-md-2">
    <a class="nav-link btn-outline-success" href="#" onclick="$('#pills-tab li:nth-child(5) a').tab('show')">Далее</a>
  </div>
</div>
