<h6>Близкие родственники (жена, муж, отец, мать, братья, сестры, дети)</h6>

<div class="bs-example" data-example-id="contextual-table">
  <div class="table_content" id="relatives_content" hidden><%= @candidate[:relatives].to_json %></div>
  <table class="table">
    <thead>
    <tr>
      <th style="width: 10%">Степень родства</th>
      <th style="width: 30%">Фамилия, Имя, Отчетство</th>
      <th style="width: 20%">Год, место рождения</th>
      <th style="width: 20%">Место работы, должность</th>
      <th style="width: 20%">Адрес места жительства</th>
    </tr>
    </thead>
    <tbody id="relatives_rows">
    <div class="form-group col-md-2">
      <button class="btn btn-success btn-sm btn-block" onclick="return add_relatives_table_new_row()">Добавить</button>
    </div>
    </tbody>
  </table>
</div>
