<div class="card">
  <div class="card-header h5">
    ДОЛЖНОСТЬ
  </div>
  <div class="card-body">
    <input readonly class="form-control" type="text"  name="candidate[position]" id="candidate_position" value="<%= @candidate.position %>">
  </div>
</div>
