<div class="card">
  <div class="card-header h5">
    РЕКОМЕНДАЦИИ РУКОВОДИТЕЛЕЙ
  </div>
  
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-11"><h5>Рекомендации с прошлых мест работы</h5></div>
          <div class="col-sm-1">
            <button type="button" class="btn btn-success " style="border-radius: 20px"><i class="fa fa-plus" onclick="return add_reccomenders_table_row()"></i></button>
          </div>
        </div>
      </div>
      <div class="table_content" id="reccomenders_content" hidden><%= @candidate[:reccomenders].to_json %></div>
      <table class="table table-bordered">
        <thead>
        <tr>
            <th>Ф.И.О.</th>
            <th>Место работы</th>
            <th>Должность</th>
            <th>Телефон</th>
          <th></th>
        </tr>
        </thead>
        <tbody id="reccomenders_rows">

        </tbody>
      </table>
    </div>
    <br>
    <div class="form-group" align="right" style="margin-right: 20px;">
      <button type="submit" class="btn btn-outline-success">Сохранить</button>   
    </div>
  </div>
  <div class="form-group" align="right">
    <a class="nav-link btn-lg btn-link" href="#" onclick="$('#pills-tab li:nth-child(5) a').tab('show')">Далее ❯</a>
  </div>
</div>
