<div class="card">
  <div class="card-header h5">
    РЕКОМЕНДАЦИИ РУКОВОДИТЕЛЕЙ
  </div>
  <div class="card-body">
    <div class="bs-example" data-example-id="contextual-table">
      <table class="table">
        <thead>
        <tr>
          <th>Ф.И.О.</th>
          <th>Место работы</th>
          <th>Должность</th>
          <th>Телефон</th>
        </tr>
        </thead>
        <tbody id="reccomenders_rows">
        <div class="form-group col-md-2">
          <button class="btn btn-success btn-sm btn-block" onclick="return add_reccomenders_table_row()">Добавить</button>
        </div>
        </tbody>
      </table>
    </div>
  </div>
</div>
