<h5>Candidates list (last)</h5>

<% @candidates.map do |candidate| %>
  <% if candidate %>
    <div class="card">
      <div class="form-row">
        <%if candidate[:image] %>
          <div class="form-group col-md-4">
            <img class="img-fluid" src= <%="/uploads/#{candidate.image_identifier}" %> /> 
          </div>
        <% end %>
        <div class="form-group col-md-8">
          <% @candidate = candidate %>
          <%= erb :'candidates/_candidate_info' %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
